openapi: 3.0.0
info:
  title: Customer Management API
  description: This API is part of the OpenWealth APIs for the connectivity between
    custody banks and WealthTechs (e.g. Portfolio Management Systems). This API allows
    the user to receive data from custody banks regarding customer data and alter
    and create address and contact data.
  contact:
    email: openwealth@synpulse.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.2.1
servers:
- url: https://openwealth-api.apps.ndgit.com/customermanagement
paths:
  /customers:
    get:
      tags:
      - customer
      summary: Returns a list of customers.
      description: Returns a list of all customers. A customer is an object which
        holds a contract with a (custody-)bank. Paging is done based on the customer
        object, i.e. if limit is set to 1, then 1 customer will be returned per page.
      operationId: getCustomers
      parameters:
      - name: cursor
        in: query
        description: An opaque string value used for pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of items to return.
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: X-Correlation-ID
        in: header
        description: Unique ID (defined by the caller) which will be reflected back
          in the response.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: A customer object list.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
            nextCursor:
              $ref: '#/components/headers/nextCursor'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/customer'
        "400":
          description: Bad Request - The server cannot or will not process the request
            due to something that is perceived to be a client error as malformed request
            syntax.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "401":
          description: Unauthorized - The request has not been applied because it
            lacks valid authentication credentials for the target resource.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "403":
          description: Forbidden - The server understood the request but refuses to
            authorize it.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "404":
          description: Not Found - The origin server did not find a current representation
            for the target resource or is not willing to disclose that one exists.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "405":
          description: Method Not Allowed - The method received in the request-line
            is known by the origin server but not supported by the target resource.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "500":
          description: Internal Server Error - The server encountered an unexpected
            condition that prevented it from fulfilling the request.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "501":
          description: Not Implemented - The server does not support the functionality
            required to fulfill the request.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "503":
          description: Service Unavailable. The server is currently unable to handle
            the request due to a temporary overload or scheduled maintenance.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
  /customers/{customerId}:
    get:
      tags:
      - customer
      summary: Returns a specific customer.
      description: Returns a full client record for a specific customer id.
      operationId: getCustomerByCustomerId
      parameters:
      - name: cursor
        in: query
        description: An opaque string value used for pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of items to return.
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: customerId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: The customer's id
      - name: X-Correlation-ID
        in: header
        description: Unique ID (defined by the caller) which will be reflected back
          in the response.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: A specific customer object.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
        "400":
          description: Bad Request - The server cannot or will not process the request
            due to something that is perceived to be a client error as malformed request
            syntax.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "401":
          description: Unauthorized - The request has not been applied because it
            lacks valid authentication credentials for the target resource.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "403":
          description: Forbidden - The server understood the request but refuses to
            authorize it.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "404":
          description: Not Found - The origin server did not find a current representation
            for the target resource or is not willing to disclose that one exists.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "405":
          description: Method Not Allowed - The method received in the request-line
            is known by the origin server but not supported by the target resource.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "500":
          description: Internal Server Error - The server encountered an unexpected
            condition that prevented it from fulfilling the request.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "501":
          description: Not Implemented - The server does not support the functionality
            required to fulfill the request.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "503":
          description: Service Unavailable. The server is currently unable to handle
            the request due to a temporary overload or scheduled maintenance.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
  /customers/{customerId}/kyc:
    get:
      tags:
      - kyc
      summary: Returns the kyc to a specific customer.
      description: Returns the know-your-client record for a specific customer.
      operationId: getKycByCustomerId
      parameters:
      - name: cursor
        in: query
        description: An opaque string value used for pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of items to return.
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: customerId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: The customer's id
      - name: X-Correlation-ID
        in: header
        description: Unique ID (defined by the caller) which will be reflected back
          in the response.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: A specific kyc object.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerAndKycResponse'
        "400":
          description: Bad Request - The server cannot or will not process the request
            due to something that is perceived to be a client error as malformed request
            syntax.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "401":
          description: Unauthorized - The request has not been applied because it
            lacks valid authentication credentials for the target resource.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "403":
          description: Forbidden - The server understood the request but refuses to
            authorize it.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "404":
          description: Not Found - The origin server did not find a current representation
            for the target resource or is not willing to disclose that one exists.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "405":
          description: Method Not Allowed - The method received in the request-line
            is known by the origin server but not supported by the target resource.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "500":
          description: Internal Server Error - The server encountered an unexpected
            condition that prevented it from fulfilling the request.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "501":
          description: Not Implemented - The server does not support the functionality
            required to fulfill the request.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "503":
          description: Service Unavailable. The server is currently unable to handle
            the request due to a temporary overload or scheduled maintenance.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
  /persons:
    get:
      tags:
      - person
      summary: Returns a list with all person objects.
      description: Returns all person records. Paging is done based on the person
        object, i.e. if limit is set to 1, then 1 person will be returned per page.
      operationId: getPersons
      parameters:
      - name: cursor
        in: query
        description: An opaque string value used for pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of items to return.
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: X-Correlation-ID
        in: header
        description: Unique ID (defined by the caller) which will be reflected back
          in the response.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: A person list.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
            nextCursor:
              $ref: '#/components/headers/nextCursor'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/person'
        "400":
          description: Bad Request - The server cannot or will not process the request
            due to something that is perceived to be a client error as malformed request
            syntax.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "401":
          description: Unauthorized - The request has not been applied because it
            lacks valid authentication credentials for the target resource.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "403":
          description: Forbidden - The server understood the request but refuses to
            authorize it.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "404":
          description: Not Found - The origin server did not find a current representation
            for the target resource or is not willing to disclose that one exists.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "405":
          description: Method Not Allowed - The method received in the request-line
            is known by the origin server but not supported by the target resource.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "500":
          description: Internal Server Error - The server encountered an unexpected
            condition that prevented it from fulfilling the request.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "501":
          description: Not Implemented - The server does not support the functionality
            required to fulfill the request.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "503":
          description: Service Unavailable. The server is currently unable to handle
            the request due to a temporary overload or scheduled maintenance.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
  /persons/{personId}:
    get:
      tags:
      - person
      summary: Returns a specific person object.
      description: Returns a person record for a specific person id.
      operationId: getPersonByPersonId
      parameters:
      - name: personId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: The persons's id
      - name: cursor
        in: query
        description: An opaque string value used for pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of items to return.
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: X-Correlation-ID
        in: header
        description: Unique ID (defined by the caller) which will be reflected back
          in the response.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: A specific person object.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/person'
        "400":
          description: Bad Request - The server cannot or will not process the request
            due to something that is perceived to be a client error as malformed request
            syntax.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "401":
          description: Unauthorized - The request has not been applied because it
            lacks valid authentication credentials for the target resource.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "403":
          description: Forbidden - The server understood the request but refuses to
            authorize it.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "404":
          description: Not Found - The origin server did not find a current representation
            for the target resource or is not willing to disclose that one exists.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "405":
          description: Method Not Allowed - The method received in the request-line
            is known by the origin server but not supported by the target resource.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "500":
          description: Internal Server Error - The server encountered an unexpected
            condition that prevented it from fulfilling the request.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "501":
          description: Not Implemented - The server does not support the functionality
            required to fulfill the request.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "503":
          description: Service Unavailable. The server is currently unable to handle
            the request due to a temporary overload or scheduled maintenance.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
  /persons/{personId}/contactdetails:
    get:
      tags:
      - person
      summary: Returns the contact details for a specific person.
      description: Returns a contact detail list for a specific person id.
      operationId: getContactDetailsByPersonId
      parameters:
      - name: personId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: The persons's id
      - name: cursor
        in: query
        description: An opaque string value used for pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of items to return.
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: X-Correlation-ID
        in: header
        description: Unique ID (defined by the caller) which will be reflected back
          in the response.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: A contact detail list.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/contactDetails'
        "400":
          description: Bad Request - The server cannot or will not process the request
            due to something that is perceived to be a client error as malformed request
            syntax.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "401":
          description: Unauthorized - The request has not been applied because it
            lacks valid authentication credentials for the target resource.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "403":
          description: Forbidden - The server understood the request but refuses to
            authorize it.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "404":
          description: Not Found - The origin server did not find a current representation
            for the target resource or is not willing to disclose that one exists.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "405":
          description: Method Not Allowed - The method received in the request-line
            is known by the origin server but not supported by the target resource.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "500":
          description: Internal Server Error - The server encountered an unexpected
            condition that prevented it from fulfilling the request.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "501":
          description: Not Implemented - The server does not support the functionality
            required to fulfill the request.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "503":
          description: Service Unavailable. The server is currently unable to handle
            the request due to a temporary overload or scheduled maintenance.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
    post:
      tags:
      - person
      summary: Creates new contact details for a specific person.
      description: Creates new contact details for a specific person id.
      operationId: postContactDetailsByPersonId
      parameters:
      - name: personId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: The persons's id
      - name: cursor
        in: query
        description: An opaque string value used for pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of items to return.
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: X-Correlation-ID
        in: header
        description: Unique ID (defined by the caller) which will be reflected back
          in the response.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contactDetails'
      responses:
        "201":
          description: Contact details created.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contactDetails'
        "400":
          description: Bad Request - The server cannot or will not process the request
            due to something that is perceived to be a client error as malformed request
            syntax.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "401":
          description: Unauthorized - The request has not been applied because it
            lacks valid authentication credentials for the target resource.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "403":
          description: Forbidden - The server understood the request but refuses to
            authorize it.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "404":
          description: Not Found - The origin server did not find a current representation
            for the target resource or is not willing to disclose that one exists.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "405":
          description: Method Not Allowed - The method received in the request-line
            is known by the origin server but not supported by the target resource.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "500":
          description: Internal Server Error - The server encountered an unexpected
            condition that prevented it from fulfilling the request.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "501":
          description: Not Implemented - The server does not support the functionality
            required to fulfill the request.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "503":
          description: Service Unavailable. The server is currently unable to handle
            the request due to a temporary overload or scheduled maintenance.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
  /customers/{customerId}/addresses:
    get:
      tags:
      - address
      summary: Returns the address of a specific customer.
      description: Returns a address record for a specific customer.
      operationId: getAddressByCustomerId
      parameters:
      - name: customerId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: The customer's id
      - name: cursor
        in: query
        description: An opaque string value used for pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of items to return.
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: X-Correlation-ID
        in: header
        description: Unique ID (defined by the caller) which will be reflected back
          in the response.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: A specific address object.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address'
        "400":
          description: Bad Request - The server cannot or will not process the request
            due to something that is perceived to be a client error as malformed request
            syntax.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "401":
          description: Unauthorized - The request has not been applied because it
            lacks valid authentication credentials for the target resource.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "403":
          description: Forbidden - The server understood the request but refuses to
            authorize it.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "404":
          description: Not Found - The origin server did not find a current representation
            for the target resource or is not willing to disclose that one exists.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "405":
          description: Method Not Allowed - The method received in the request-line
            is known by the origin server but not supported by the target resource.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "500":
          description: Internal Server Error - The server encountered an unexpected
            condition that prevented it from fulfilling the request.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "501":
          description: Not Implemented - The server does not support the functionality
            required to fulfill the request.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "503":
          description: Service Unavailable. The server is currently unable to handle
            the request due to a temporary overload or scheduled maintenance.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
    put:
      tags:
      - address
      summary: Updates an existing address object for a specific customer.
      operationId: putAddressByCustomerId
      parameters:
      - name: customerId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: The customer's id
      - name: cursor
        in: query
        description: An opaque string value used for pagination
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of items to return.
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          format: int32
      - name: X-Correlation-ID
        in: header
        description: Unique ID (defined by the caller) which will be reflected back
          in the response.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/address'
        required: true
      responses:
        "204":
          description: No content.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
        "400":
          description: Bad Request - The server cannot or will not process the request
            due to something that is perceived to be a client error as malformed request
            syntax.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "401":
          description: Unauthorized - The request has not been applied because it
            lacks valid authentication credentials for the target resource.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "403":
          description: Forbidden - The server understood the request but refuses to
            authorize it.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "404":
          description: Not Found - The origin server did not find a current representation
            for the target resource or is not willing to disclose that one exists.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "405":
          description: Method Not Allowed - The method received in the request-line
            is known by the origin server but not supported by the target resource.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "500":
          description: Internal Server Error - The server encountered an unexpected
            condition that prevented it from fulfilling the request.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "501":
          description: Not Implemented - The server does not support the functionality
            required to fulfill the request.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
        "503":
          description: Service Unavailable. The server is currently unable to handle
            the request due to a temporary overload or scheduled maintenance.
          headers:
            Content-Type:
              style: simple
              explode: false
              schema:
                type: string
                description: application/problem+json; charset=utf-8 according to
                  RFC7807
                example: application/problem+json
            Content-Language:
              style: simple
              explode: false
              schema:
                type: string
                description: Response language - always en
                example: en
            X-Correlation-ID:
              style: simple
              explode: false
              schema:
                type: string
                description: Client defined ID from request to correlates HTTP requests
                  between a client and server.
                example: f058ebd6-02f7-4d3f-942e-904344e8cde5
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/commonErrorResponse'
    post:
      tags:
      - address
      summary: Creates a new address object for a specific customer.
      operationId: postAddressByCustomerId
      parameters:
      - name: customerId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          description: The customer's id
      - name: cursor
        in: query
[...]
